.content-form {
    background: rgba(17, 45, 78, 0.95);
    position: relative;
    max-width: 400px;
    padding: 35px 25px 25px;
    margin: 4rem auto 0;
    h3 {
        font-weight: 500;
        font-size: 2rem;
        color: #fff;
        text-align: center;
        margin-bottom: 2.5rem;
    }
}
.item-section {
    min-height: 400px;
    margin-top: 4rem;
}
.item-section--2 {
    background: #c00;
}
.item-section--3 {
    background: #00c;
}